<section class="alternative-landing stack-horizontal">
  <div class="row">
    <h1 class="heading1">
      <%= decidim_sanitize translated_title %>
    </h1>
  </div>
  <div class="row">
    <% 1.upto(3) do |item_number| %>
      <div class="stack-item">
        <div class="stack-image">
          <%= image_tag image(item_number) %>
        </div>
        <div class="stack-body">
          <div>
            <%= decidim_sanitize translated_body(item_number) %>
          </div>
          <div class="stack-link">
            <%= translated_link(item_number, classes: "button button--sc secondary expanded") %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>

<style>
  .stack-horizontal .stack-item {
    border: 1px solid black;
    padding: 1em;
    margin: 1em auto;

    display: flex;
    gap: 1em;
  }

  .stack-horizontal .stack-image img {
    object-fit: cover;
    min-height: 10em;
  }

  .stack-horizontal .stack-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .stack-horizontal .stack-image {
    padding: 0;
    min-width: 25%;
    width: 25%;
  }

  .stack-horizontal .stack-link .button {
    max-width: 15em;
    margin: 0;
    float: right;
  }

  @media screen and (max-width: 50em) {
    .stack-horizontal .stack-item {
      flex-direction: column;
    }

    .stack-horizontal .stack-image {
      width: 100%;
    }

    .stack-horizontal .stack-link .button {
      margin: 1em auto 0;
      max-width: none;
      float: none;
    }
  }

</style>
