<% form.fields_for :settings, form.object.settings do |settings_fields| %>
  <%= settings_fields.translated :editor, :body, label: t(".body") %>
  <div class="grid-x">
    <div class="medium-12 large-6">
      <%= settings_fields.number_field :columns, label: t(".columns") %>
      <p class="help-text">
        <%= t(".columns_help") %>
      </p>
    </div>
  </div>
<% end %>
