<section class="section alternative-landing extra-information">
  <div class="row">
    <div class="columns large-<%= columns %>">
      <div class="extra-metadata-body">
        <%== translated_body %>
      </div>
    </div>
  </div>
</section>
