<div class="layout-2col__main content-block">
  <section id="meetings" class="layout-main__section layout-main__heading alternative-landing upcoming-meetings">
    <h2 class="h2 decorator">
      <%= section_title %>
      <%= section_link %>
    </h2>
    <div class="card__list-list">
      <% meetings.each do |meeting| %>
        <%= cell "decidim/meetings/meeting", meeting %>
      <% end %>
    </div>
  </section>
</div>

<script>
$(document).ready(() => {
  $(".card--meeting .card__text").find("img, iframe").remove()
})
</script>
