@import "stylesheets/decidim/alternative_landing/content_blocks/variables";
@import "@splidejs/splide/dist/css/splide.min.css";

.alternative-landing {
  &.sidebar-right-stack {
    .column_one {
      background-position: bottom right;
      background-size: 25%;
    }

    .splide__arrow {
      &.splide__arrow--prev {
        left: -3em;
      }

      &.splide__arrow--next {
        right: -3em;
      }
    }
  }
}

