<section class="extended highligted-content-banner home-section"
          style="background-image:url(<%= image_url %>);">
    <div class="black-background">
      <span>
        <%= description %>
      </span>
    </div>
  </div>
</section>
