<section class="extended highlighted-content-banner home-section" style="background-image:url(<%= image_url %>);">
  <div class="black-background">
    <span>
      <%= description %>
    </span>
  </div>
</section>
