<section class="extended cover-half home-section">
  <div class="cover-half__container">
    <div class="row">
      <div class="columns large-5">
        <div class="row">
          <h1 class="text-highlight heading1">
            <%= decidim_sanitize translated_title %>
          </h1>
        </div>
        <div class="row">
          <%== translated_body %>
        </div>
        <div class="row">
          <%== translated_link %>
        </div>
      </div>
      <div class="columns large-7" style="background-image:url(<%= background_image %>);">
      </div>
    </div>
  </div>
</section>
