<div class="layout-2col__main content-block">
  <section id="blogs" class="layout-main__section layout-main__heading latest-blog-posts">
    <h2 class="h2 decorator">
      <%= section_title %>
      <%= section_link %>
    </h2>
    <% posts.each do |post| %>
      <%= cell "decidim/blogs/post", post %>
    <% end %>
  </section>
</div>
